.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#00c9a7,#3a7bd5);
  font-family:'Segoe UI',sans-serif;
}

.login-container{
  display:flex;
  width:750px;
  height:450px;
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* left side */

.login-image{
  flex:1;
  background:linear-gradient(135deg,#27ae60,#2ecc71);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:30px;
}

.login-image h1{
  font-size:36px;
  margin-bottom:10px;
}

/* right side */

.login-box{
  flex:1;
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.login-box h2{
  margin-bottom:25px;
}

/* floating inputs */

.input-group{
  position:relative;
  margin-bottom:20px;
}

.input-group input{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  outline:none;
}

.input-group label{
  position:absolute;
  left:12px;
  top:12px;
  background:white;
  padding:0 4px;
  color:#777;
  transition:0.3s;
  pointer-events:none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label{
  top:-8px;
  font-size:12px;
  color:#27ae60;
}

/* show password icon */

.toggle{
  position:absolute;
  right:10px;
  top:12px;
  cursor:pointer;
}

/* button */

.login-box button{
  padding:12px;
  border:none;
  border-radius:6px;
  background:#27ae60;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-box button:hover{
  background:#1e874b;
}

.login-box p{
  margin-top:15px;
  font-size:14px;
}
.input-group input:focus{
  border-color:#27ae60;
  box-shadow:0 0 5px rgba(39,174,96,0.3);
}
.login-box a{
  color:#27ae60;
  text-decoration:none;
  font-weight:500;
}

.login-box a:hover{
  text-decoration:underline;
}