.signup-container{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
}

.signup-form{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:350px;
display:flex;
flex-direction:column;
gap:15px;
}

.signup-form h2{
text-align:center;
}

.signup-form input{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
}

.signup-form button{
padding:12px;
border:none;
background:#2e7d32;
color:white;
border-radius:8px;
font-size:15px;
cursor:pointer;
}

.signup-form button:hover{
background:#256428;
}
.show-password{
font-size:14px;
display:flex;
align-items:center;
gap:5px;
}